
/*top-wrapper*/
.top-wrapper {
  /*border:1px solid #0B41A0;*/
  height: 350px;
  margin: 100px 50px 50px 100px;
  text-align: center;
}

.webcontent {
  display: inline-block;
  border: 5px solid #0B41A0;
  border-radius: 20px;
  width: 350px;
  height: 350px;
  text-align: center;
  margin: 0 2% 0 2%;
  padding-top: 50px;
  color: #0B41A0;
}

.webcontent p {
  font-size: 30px;
}

.webcontent:hover {
  background-color: #0B41A0;
  color:white;
  transition: 0.1s
}

.font_awesome {
  font-size: 170px;
  margin-bottom: 20px;
}
/*top-wrapper*/