/*ドロワーメニュー*/
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');

* {
  outline: none;
}

strong {
  font-weight: 600;
}

body {
  height: 100vh;
  overflow-y: hidden;
}
.page {
  width: 100%;
  height: 70px;
  background: #fdfdfd;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .03em;
  color: #212121;
  z-index: 300px;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  color: #0B41A0;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-size: 30px;
}

main {
  padding: 70px 20px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main > div {
  margin: auto;
  max-width: 600px;
}

main h2 span {
  color: #BF7497;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
}

main small {
  font-weight: 300;
  color: #888;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #0B41A0;
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #6181BA;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content li a:hover {
  color: #BF7497;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}






* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}
/*ドロワーメニュー*/

/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: relative;
  height: 100vh;
  vertical-align: top;
  transform:translate(0%,-100%);
  margin-left: 1%;
  width: 99%;
  min-height: 95%;
  padding: 30px 30px 10px;
  background-color: #fff;
  overflow : auto;
}
.modal-img {
  display: inline-block;
  width:60%;
  vertical-align: top;
}
.modal-img img  {
  width:100%;
  height:400px;
  object-fit: cover;
}

.modal-map {
  display: inline-block;
  width: 39%;
  margin-top: 100px;
}
.modal-map iframe {
  width: 100%;
  height: 300px;
}

.modal-text {
  vertical-align: top;
  font-family: "Bebas Neue","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif";
  display: inline-block;
  width: 60%;
  margin-top: 50px;
}
.modal-text h1 {
  font-size: 70px;
  display: inline-block;
  color: #333333;
  margin-right: 30px;
}
.modal-text h2 {
  font-size: 40px;
  display: inline-block;
  color: #333333;
}

.modal-text p {
  margin-top:50px;
  color:#333333;
  margin-bottom: 50px;
}

.modal-detail {
  width:39%;
  background-color: #DCE3F1;
  padding: 30px;
  height: auto;
  display: inline-block;
}

.modal-detail h2 {
  text-align: center;
  color: #0B41A0;
}

.detail-content {
  margin-top: 30px;
}

table{
  width: 100%;
  border-collapse: collapse;
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #0B41A0;
  color: white;
  text-align: center;
  padding: 10px 0;
}

table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #0B41A0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 20px;
  text-align: left;
}


.modal-youtube iframe {
  margin-top: 30px;
  border: 2px solid #0B41A0;
  height: 100px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  float: center;
  width: 100%;
  height: 400px;
}

.closeModal {
  display: inline-block;
  top: 0px;
  cursor: pointer;
  color: #0B41A0;
  margin-right: 20px;
  font-size: 50px;
  top: 3%;
  left: 95%;
  position:fixed;
}


